<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Assemblage_Final_screen">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-3.36764174745708E-05 0.00328696212590428 0.0222320352796133"
        rpy="0 0 0" />
      <mass
        value="0.294555995321288" />
      <inertia
        ixx="0.000322164313427195"
        ixy="1.30175420844735E-12"
        ixz="5.26133651820029E-13"
        iyy="0.000327509547850983"
        iyz="-3.0879713845512E-09"
        izz="0.000635117931864016" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assemblage_Final_screen/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assemblage_Final_screen/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Front_wheel_right">
    <inertial>
      <origin
        xyz="0.0679474103230555 0.0679375737037698 0.0150009321215532"
        rpy="0 0 0" />
      <mass
        value="0.00724973023994767" />
      <inertia
        ixx="7.88426531983981E-07"
        ixy="1.40999079451543E-07"
        ixz="-5.03997373698836E-11"
        iyy="7.88876113361559E-07"
        iyz="1.07424644948904E-11"
        izz="6.48207019404156E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assemblage_Final_screen/meshes/Front_wheel_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assemblage_Final_screen/meshes/Front_wheel_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_fwr"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Front_wheel_right" />
    <axis
      xyz="-0.70711 -0.70711 0" />
    <limit
      lower="0"
      upper="0"
      effort="30"
      velocity="30" />
  </joint>
  <link
    name="Front_wheel_left">
    <inertial>
      <origin
        xyz="-0.068047308685908 0.0679456224644817 0.0150049334467605"
        rpy="0 0 0" />
      <mass
        value="0.00724972587827654" />
      <inertia
        ixx="7.88944328117855E-07"
        ixy="-1.40851114467568E-07"
        ixz="-7.71321401964403E-11"
        iyy="7.88678110925621E-07"
        iyz="-3.36110274270845E-10"
        izz="6.47911028700709E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assemblage_Final_screen/meshes/Front_wheel_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assemblage_Final_screen/meshes/Front_wheel_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_fwl"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Front_wheel_left" />
    <axis
      xyz="0.70711 -0.70711 0" />
    <limit
      lower="0"
      upper="0"
      effort="30"
      velocity="30" />
  </joint>
  <link
    name="Back_wheel_left">
    <inertial>
      <origin
        xyz="-0.0680521395376327 -0.068048675918026 0.0150057997833263"
        rpy="0 0 0" />
      <mass
        value="0.0072497341832853" />
      <inertia
        ixx="7.88767756645588E-07"
        ixy="1.40728642634861E-07"
        ixz="3.19755482917525E-10"
        iyy="7.8888726068708E-07"
        iyz="-1.05432866208393E-11"
        izz="6.4766613789166E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assemblage_Final_screen/meshes/Back_wheel_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assemblage_Final_screen/meshes/Back_wheel_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_bwl"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Back_wheel_left" />
    <axis
      xyz="0.70711 0.70711 0" />
    <limit
      lower="0"
      upper="0"
      effort="30"
      velocity="30" />
  </joint>
  <link
    name="Back_wheel_right">
    <inertial>
      <origin
        xyz="0.0679443938824221 -0.0680485465011233 0.0149953566382997"
        rpy="0 0 0" />
      <mass
        value="0.00724972405984418" />
      <inertia
        ixx="7.88589520838095E-07"
        ixy="-1.40852823342395E-07"
        ixz="3.29188974791185E-10"
        iyy="7.88884686151281E-07"
        iyz="8.6517145723478E-11"
        izz="6.47914396996865E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assemblage_Final_screen/meshes/Back_wheel_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assemblage_Final_screen/meshes/Back_wheel_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_bwr"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Back_wheel_right" />
    <axis
      xyz="-0.70711 0.70711 0" />
    <limit
      lower="0"
      upper="0"
      effort="30"
      velocity="30" />
  </joint>
  <link
    name="Puncher">
    <inertial>
      <origin
        xyz="4.03144529135048E-06 0.0724148897585424 0.015"
        rpy="0 0 0" />
      <mass
        value="0.00369309449504573" />
      <inertia
        ixx="5.75725025300449E-07"
        ixy="-4.0226163827001E-25"
        ixz="-2.78484139559519E-24"
        iyy="8.15301292989161E-08"
        iyz="2.49884450097179E-24"
        izz="5.75725025300449E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assemblage_Final_screen/meshes/Puncher.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assemblage_Final_screen/meshes/Puncher.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_puncher"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Puncher" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="15"
      velocity="15" />
  </joint>
  <link
    name="Dribler">
    <inertial>
      <origin
        xyz="4.00335100889255E-06 0.0762395435802442 0.0330494492700799"
        rpy="0 0 0" />
      <mass
        value="0.00318530208649366" />
      <inertia
        ixx="2.58025286341316E-08"
        ixy="1.33794525581002E-12"
        ixz="2.1150669356568E-13"
        iyy="1.12220325904938E-06"
        iyz="8.01371069730298E-11"
        izz="1.12183936495586E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assemblage_Final_screen/meshes/Dribler.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assemblage_Final_screen/meshes/Dribler.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_dribler"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Dribler" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="10"
      velocity="10" />
  </joint>
</robot>